################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/CreditApplication/obj/Debug
/CreditApplication.Tests/bin/Debug
/CreditApplication.Tests/obj/Debug
/CreditApplication/bin
